# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
env/
venv/
ENV/
.venv/

# FastAPI / Uvicorn
*.log
*.sqlite3
instance/
*.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# dotenv
*.env
.env.*
*.json
*firebase-adminsdk*.json
